
*.db
*.ipch
*.log
*.properties
out/
.vs/
cmake-build-relwithdebinfo-visual-studio
.idea
build/
WC Engine/workdir/SavedProjects.yaml
WC Engine/workdir/assets/imgui.ini
cmake-build-relwithdebinfo-clang
WC Engine/workdir/SavedProjects.yaml
cmake-build-debug-clang